<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">{{title}}</span>
      <button class="btn btn-dark float-end" routerLink="/create">
        {{btnAddText}}
      </button>
      
      <p *ngIf="employees.length === 0" class="mt-4">{{emptyText}}</p>
      <table *ngIf="employees.length > 0" class="table mt-4">
        <thead>
          <tr>
            <th>{{nameText}}</th>
            <th>{{lastnameText}}</th>
            <th>{{docText}}</th>
            <th>{{salaryText}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.lastname}}</td>
            <td>{{employee.doc}}</td>
            <td>{{employee.salary | currency}}</td>
            <td>
              <i class="fas fa-edit fa-lg me-2" [routerLink]="['/edit/', employee.id]"></i>
              <i class="fas fa-trash fa-lg" (click)="deleteEmployee(employee.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>